<div class="row contact-us py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-2">
                <div class="text-center evento-section-title"
                     [translate]="'SEARCH'">
                    CONTACT US
                </div>
            </div>
            <div class="col-sm-12 text-center evento-text-faded mb-4">
                <div class="d-flex flex-column flex-md-row justify-content-center">
                    <div class="contact text-center mx-4">
                        <img class="mx-2 my-2 icon-contact"
                             src="./assets/img/icons/phone-icon-20x20.svg" />
                        <div class="txt-contact">
                            <div>+966-55-487-2358</div>
                            <div>+966-53-055-4898</div>
                        </div>
                    </div>

                    <div class="contact text-center mx-4">
                        <img class="mx-2 my-2 icon-contact"
                             src="./assets/img/icons/email-icon-28x18.svg" />
                        <div class="txt-contact">
                            info@eventoapps.com
                        </div>
                    </div>

                    <div class="contact text-center mx-4">
                        <img class="mx-2 my-2 icon-contact"
                             src="./assets/img/icons/location-icon-17x21.svg" />
                        <div class="txt-contact">
                            <div>King Fahad Road</div>
                            <div>Tatweer Tower 3</div>
                            <div>Riyadh, Soudi Arabia</div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-12 mb-4 text-center">
                <button type="button"
                        class="btn btn-outline-secondary evento-button"
                        (click)="onSearch()"
                        translate>
                    SEND MESSAGE
                </button>
            </div>

        </div>
    </div>
</div>
