@import '../../../../scss/themes/evento-light/evento-theme-light.scss';
.contact-us {
    background:theme-color('background', 'light');

    .contact {
        //width:200px;

        .icon-contact {
            width:30px;
            height:30px;
        }
        .txt-contact {
            color:theme-color('foreground', 'base');
        }
    }
}
