.contact-us {
    background:#ffffff;

    .contact {
        //width:200px;

        .icon-contact {
            width:30px;
            height:30px;
        }
        .txt-contact {
            color:#777777;
        }
    }
}
