<div class="row">
    <div class="col-sm-12 col-md-4 key-value">
        <div class="key">Position</div>
        <div class="value">Position</div>
    </div>
    <div class="col-sm-12 col-md-4 key-value">
        <div class="key">Email</div>
        <div class="value">name@server.com</div>
    </div>
    <div class="col-sm-12 col-md-4 key-value">
        <div class="key">Gender</div>
        <div class="value">Male</div>
    </div>
    <div class="col-sm-12 col-md-4 key-value">
        <div class="key">User ID</div>
        <div class="value">1231DJJD</div>
    </div>
    <div class="col-sm-12 col-md-4 key-value">
        <div class="key">City</div>
        <div class="value">Riyadh</div>
    </div>

</div>
<div class="row">
    <div class="col-sm-12 d-flex flex-row-reverse">
        <button class="evento-button evento-button-primary" (click)="handleDeleteButtonClick(supervisor)" >Delete</button>
        <button class="evento-button evento-button-secondary mx-2" (click)="handleEditButtonClick(supervisor)">Edit</button>

    </div>
</div>
