<!-- <div class="card-stack d-flex justify-content-center align-items-center py-5">
    <div class="stackable-card"
         [ngClass]="{'selected':selectedPackage === i}"
         *ngFor="let package of packages;let i = index"
         (click)="handlePackageClick(i)">
    </div>
</div> -->

<div class="row title-section pb-4">
    <div class="col-sm-12 text-center">
        <h3 class="">Create your Event</h3>
        <div class="sub-title">And Start selling tickets now!</div>
    </div>
</div>

<div class="container">

    <div class="row py-5">
        <div class="col-sm-12 col-md-4 "
             *ngFor="let package of packages;let i = index">
            <div class="mx-auto package text-center"
                 [ngClass]="{'selected': selectedPackage === i}"
                 (click)="handleSelectButtonClick(i);">
                <div class="header type-{{i % 3 +1}}">
                    <div class="title">PACKAGE {{i+1}}</div>
                    <div class="range">
                        <span class="from">5</span>
                        <span class="currency"
                              translate>SR</span>
                        <span class="hiphen">-</span>
                        <span class="to">50</span>
                        <span class="currency"
                              translate>SR</span>
                    </div>
                </div>
                <div class="content">
                    <div class="percent">2.5%</div>
                    <div class="perticket">Per ticket sale</div>
                    <div class="description evento-text-faded">Neque porro quisquam est qui dolorem ipsum quia dolor sit
                        amet, consectetur, adipisci velit...</div>

                    <!-- <button class="evento-button evento-button-primary my-3">Select</button> -->
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div>
                <input type="radio"
                       class="radio-as-button"
                       id="member"
                       formControlName="iagree"
                       name="iagree"
                       value="agrred"
                       (change)="handleRegisterAsValueChange()">
                <label for="member"
                       class="evento-button">I read, understand and agreed the terms and conditions</label>

            </div>
            <button class="evento-button evento-button-primary my-3"
                    (click)="handleContinueButtonClick(i);">Continue</button>
        </div>
    </div>
</div>