<!-- <div class="card-stack d-flex justify-content-center align-items-center py-5">
    <div class="stackable-card"
         [ngClass]="{'selected':selectedPackage === i}"
         *ngFor="let package of packages;let i = index"
         (click)="handlePackageClick(i)">
    </div>
</div> -->

<div class="container">
    <div class="row py-5">
        <div class="col-sm-12 col-md-4" *ngFor="let package of packages;let i = index">
            <div class="card"
                 >
                <img  src="assets/img/illustration-create-event-411x308.png"
                     class="card-img-top"
                     alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#"
                       class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>