<div class="row">
        <div class="col-sm-6 col-md-6 label-value">
            <span class="label">Ticket</span>
            <span class="value">Golden Class</span>
        </div>
        <div class="col-sm-6 col-md-6 label-value">
            <span class="label">QTY</span>
            <span class="value">2</span>
        </div>
        <div class="col-sm-6 col-md-6 label-value">
            <span class="label">Date</span>
            <span class="value">2 December 2019</span>
        </div>
        <div class="col-sm-6 col-md-6 label-value">
            <span class="label">First Name</span>
            <span class="value">Salim</span>
        </div>
        <div class="col-sm-6 col-md-6 label-value">
            <span class="label">Last Name</span>
            <span class="value">Omarany</span>
        </div>
        <div class="col-sm-6 col-md-6 label-value">
            <span class="label">Phone</span>
            <span class="value">0503453454</span>
        </div>
        <div class="col-sm-12 col-md-12 label-value">
            <span class="label">Email</span>
            <span class="value">salimomarany@gmail.com</span>
        </div>

    </div>