<div class="row">
    <div class="col-sm-6 col-md-6 label-value">
        <span class="label">{{ 'Ticket' | translate }}</span>
        <span class="value">{{ invoice.package_name }}</span>
    </div>
    <div class="col-sm-6 col-md-6 label-value">
        <span class="label">{{ 'QTY' | translate }}</span>
        <span class="value">{{ invoice.num_ticket }}</span>
    </div>
    <div class="col-sm-6 col-md-6 label-value">
        <span class="label">{{ 'Date' | translate }}</span>
        <span class="value">{{ invoice.access_date }}</span>
    </div>
    <div class="col-sm-6 col-md-6 label-value">
        <span class="label">{{ 'First Name' | translate }}</span>
        <span class="value">{{ invoice.first_name }}</span>
    </div>
    <div class="col-sm-6 col-md-6 label-value">
        <span class="label">{{ 'Last Name' | translate }}</span>
        <span class="value">{{ invoice.last_name }}</span>
    </div>
    <div class="col-sm-6 col-md-6 label-value">
        <span class="label">{{ 'Phone Number' | translate }}</span>
        <span class="value" style="direction: ltr">{{ invoice.mobile }}</span>
    </div>
    <div class="col-sm-12 col-md-12 label-value">
        <span class="label">{{ 'Email' | translate }}</span>
        <span class="value">{{ invoice.email }}</span>
    </div>

</div>
