<div class="container-fluid">
    <div class="row organization-events">
        <div class="col-sm-12 py-5 ">
            <div class="container">
                <div class="text-center mb-4">
                    <img class="img-fluid img-create-event"
                         src="assets/img/illustration-create-event-411x308.png"
                         alt="" />

                </div>
                <div class="text-center">
                    <button class="btn evento-button evento-button-primary"  [routerLink]="['/organization/create-event']">
                        Create New Event&nbsp;&nbsp;
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 py-5 ">
            <div class="container">
                <div class="row event-list"
                     *ngIf="organizationEventList">
                    <div class="col col-sm-12 col-lg-6 event mb-5 "
                         *ngFor="let event of organizationEventList.data; let i = index">
                        <app-organization-event-list-item [event]="event"
                                                          [eventIndex]="i"></app-organization-event-list-item>
                    </div>
                </div>
                <div class="row"
                     *ngIf="!organizationEventList || !organizationEventList.data || organizationEventList.data.length < 1">
                    <h3 class="no-result py-3 text-center"
                        translate>No Events Found</h3>
                </div>
            </div>
        </div>
    </div>
</div>