@import '../../../../scss/themes/evento-light/evento-theme-light.scss';

.starts-in-counter {
    .day, .hour, .minute {
        min-width: 55px;
    }
    .label {
        font-size: text-scale('sm');
    }
    .count {
        margin-top:-10px;
        font-size: text-scale('xxxl');
    }
}