<div class="d-flex justify-content-start starts-in-counter">
    <div class="day py-2">
        <div class="label evento-text-faded">Days</div>
        <div class="count">02:</div>
    </div>
    <div class="hour py-2">
        <div class="label evento-text-faded">Hrs</div>
        <div class="count">10:</div>
    </div>
    <div class="minute py-2">
        <div class="label evento-text-faded">Mins</div>
        <div class="count">47:</div>
    </div>
    <div class="second py-2">
        <div class="label evento-text-faded">Secs</div>
        <div class="count">20</div>
    </div>
</div>
