<div class="container">
    <div class="row login-page">
        <!-- <div class="col-sm-12">
            <img class="img-fluid mx-auto d-block evento-img-featured mb-4"
                 src="assets/img/illustration-member-313x249.svg"
                 alt="" />
        </div> -->
        <div class="col-sm-12 text-center">
            <h3 translate>Signin</h3>
            <div translate
                 class="evento-text-faded">
                Don't have an account yet?
                <a [routerLink]="['/register']" class="text-danger" translate>Sign up</a>
            </div>

        </div>
        <div class="col-sm-12 col-md-4"></div>
        <div class="col-sm-12 col-md-4">

            <app-error-message *ngIf="loginError"
                               [serverError]="loginError">
            </app-error-message>

            <form [formGroup]="loginForm"
                  (ngSubmit)="onlogin(loginForm)">

                <div class="form-group">
                    <input formControlName="username"
                           type="input"
                           class="form-control evento-form-field  mt-3"
                           placeholder="{{ 'Email Address' | translate}}" />
                    <div class="evento-form-error"
                         *ngIf="loginForm.controls['username'].hasError('required') && !loginForm.controls['username'].pristine"
                         translate>This field is required
                    </div>
                    <div class="evento-form-error"
                         *ngIf="loginForm.controls['username'].hasError('email') && !loginForm.controls['username'].pristine"
                         translate>
                        Email format is not valid
                    </div>

                </div>
                <div class="form-group">
                    <input formControlName="password"
                           type="password"
                           class="form-control evento-form-field  mt-3"
                           placeholder="{{ 'Password' | translate}}" />

                    <div class="evento-form-error"
                         *ngIf="loginForm.controls['password'].hasError('required') && !loginForm.controls['password'].pristine"
                         translate>This field is required
                    </div>
                </div>


                <input type="submit"
                       class="btn btn-block evento-button evento-button-primary my-3"
                       value="{{ 'Login' | translate }}"
                       [disabled]="!loginForm.valid" />
            </form>
            <div class="text-center">
                <a [routerLink]="['/forget-password']" translate>Forgot Your Password?</a>
                <p class="mt-2">
                    <a [routerLink]="['/reactivation']" translate>Resend Activation Link</a>
                </p>
            </div>

        </div>
    </div>
</div>
