<div class="container">
    <div class="row">
        <div class=" col-lg-8 py-2">
            <app-event-banner></app-event-banner>


            <h3 class="evento-section-title title-underlined">Description</h3>
            <app-event-description></app-event-description>
            <h3 class="evento-section-title title-underlined">Rules</h3>
            <app-event-rules></app-event-rules>
            <h3 class="evento-section-title title-underlined">Sponsers</h3>
            <app-event-sponsors></app-event-sponsors>

        </div>
        <div class=" col-lg-4 py-2">
            <app-basic-details></app-basic-details>
            <h3 class="evento-section-title title-underlined">Time and Date</h3>
            <app-event-date-time></app-event-date-time>
            <h3 class="evento-section-title title-underlined">Tickets</h3>
            <div class=" mx-2">
                <app-ticket-list-item></app-ticket-list-item>
                <app-ticket-list-item></app-ticket-list-item>
                <app-ticket-list-item></app-ticket-list-item>
                <app-ticket-list-item></app-ticket-list-item>
            </div>
        </div>
        <!-- <div class=" col-lg-8 py-2">
            <h3 class="evento-section-title title-underlined">Description</h3>
            <app-event-description></app-event-description>

        </div>

        <div class="col-lg-4 py-2">
            <h3 class="evento-section-title title-underlined">Time and Date</h3>
            <app-event-date-time></app-event-date-time>
        </div>

        <div class=" col-lg-8 py-2">
            <h3 class="evento-section-title title-underlined">Rules</h3>
            <app-event-rules></app-event-rules>
        </div>

        <div class=" col-lg-8 py-2">
            <h3 class="evento-section-title title-underlined">Sponsers</h3>
            <app-event-sponsors></app-event-sponsors>
        </div>

        <div class=" col-lg-4 py-2">
            <h3 class="evento-section-title title-underlined">Rules</h3>
            <div class=" mx-2">
                <app-ticket-list-item></app-ticket-list-item>
                <app-ticket-list-item></app-ticket-list-item>
                <app-ticket-list-item></app-ticket-list-item>
                <app-ticket-list-item></app-ticket-list-item>
            </div>
        </div> -->

    </div>
</div>
