@import '../../../../scss/themes/evento-light/evento-theme-light.scss';

.search-event {
    padding: 70px 0;
    background-image: url(/assets/img/crowd-bg-gray.png);
    background-repeat: no-repeat;
    background-size: cover;
}