<div class="row our-services py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-2">
                <div class="text-center evento-section-title"
                     [translate]="'SEARCH'">
                    OUR SERVICES
                </div>
            </div>
            <div class="col-sm-12 text-center evento-text-faded mb-4">
                <div class="d-flex flex-column flex-md-row justify-content-center">
                    <div class="service mx-2 d-flex flex-column align-items-center">
                        <div class="icon-service ">
                            <img class="mx-2 my-2 "
                                 src="./assets/img/services/dashboard-icon-65x65.svg" />
                        </div>
                        <div class="txt-service">
                            We provide you and event management system.
                        </div>
                    </div>

                    <div class="service mx-2 d-flex flex-column align-items-center">
                        <div class="icon-service">
                            <img class="mx-2 my-2 "
                                 src="./assets/img/services/tickets-icon-74x65.svg" />
                        </div>
                        <div class="txt-service">
                            We organize the ticketing system and sell it electronically.
                        </div>
                    </div>

                    <div class="service mx-2 d-flex flex-column align-items-center">
                        <div class="icon-service">
                            <img class="mx-2 my-2 "
                                 src="./assets/img/services/statistics-icon-65x65.svg" />
                        </div>
                        <div class="txt-service">
                            We provide you with detailed reports and statistics before and after events.
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 text-center evento-text-faded mb-4">
                <div class="d-flex flex-column flex-md-row justify-content-center">
                    <div class="service mx-2 d-flex flex-column align-items-center">
                        <div class="icon-service">
                            <img class="mx-2 my-2 "
                                 src="./assets/img/services/rating-icon-79x70.svg" />
                        </div>
                        <div class="txt-service">
                            We provide you and event management system.
                        </div>
                    </div>

                    <div class="service mx-2 d-flex flex-column align-items-center">
                        <div class="icon-service">
                            <img class="mx-2 my-2 "
                                 src="./assets/img/services/website-icon-78x65.svg" />
                        </div>
                        <div class="txt-service">
                            We organize the ticketing system and sell it electronically.
                        </div>
                    </div>

                    <div class="service mx-2 d-flex flex-column align-items-center">
                        <div class="icon-service">
                            <img class="mx-2 my-2"
                                 src="./assets/img/services/organizer-icon-81x66.svg" />
                        </div>
                        <div class="txt-service">
                            We provide you with detailed reports and statistics before and after events.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
