@import '../../../../scss/themes/evento-light/evento-theme-light.scss';
.our-services {
    background:theme-color('background', 'light');
    .service {

        .icon-service {
            width:80px;
            height:80px;
        }
        .txt-service {
            color:theme-color('foreground', 'base');
        }
    }
}

@media (min-width: 768px) {
    .txt-service {
        width:150px;
    }
}
