@import '../shared/_color-palette';
@import '../shared/_contrast-colors';
@import './_font-sizes';

@import '../../utils/_theme-utils';


.evento-nav-bar {
    background-color: theme-color('background', 'light');;
    color:theme-color('foreground', 'dark');

    .nav-link {
        color:theme-color('foreground', 'base');
    }
}

.evento-input {
    border-radius: calc(1.125rem + 1px);
    border-color: theme-color('foreground', 'base');
    padding: 0.375rem 1.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.evento-button {
    min-width: 130px;
}