<app-error-message *ngIf="passwordError"
                   [serverError]="passwordError">
</app-error-message>


<form [formGroup]="passwordForm"
      (ngSubmit)="updatePassword(passwordForm)"
      class="mt-5">
    <div class="alert alert-success"
         *ngIf="successPassword"
         translate>
        Your password has been updated successfully
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-12 ">
        <p class="grey-color"
           translate>PASSWORD MANAGEMENT</p>
        <div class="position-relative">
            <input type="password"
                   class="form-control evento-form-field grey-color mt-2"
                   formControlName="current_password"
                   placeholder="{{ 'Old password' | translate }}">
            <!-- <label class="embed-text grey-color"
                   translate>Old password</label> -->
            <div class="evento-form-error"
                 *ngIf="passwordForm.controls['current_password'].hasError('required') && !passwordForm.controls['current_password'].pristine"
                 translate>This field is required
            </div>
        </div>
        <div class="position-relative">
            <input type="password"
                   class="form-control evento-form-field grey-color mt-2"
                   formControlName="new_password"
                   placeholder="{{ 'New password' | translate }}">
            <!-- <label class="embed-text grey-color"
                   translate>New password</label> -->
            <div class="evento-form-error"
                 *ngIf="passwordForm.controls['new_password'].hasError('required') && !passwordForm.controls['new_password'].pristine"
                 translate>This field is required
            </div>
            <div class="evento-form-error"
                 *ngIf="passwordForm.controls['new_password'].hasError('minlength') && !passwordForm.controls['new_password'].pristine"
                 translate>Password most have more than 6 characters
            </div>

        </div>
        <div class="position-relative">
            <input type="password"
                   class="form-control evento-form-field grey-color mt-2"
                   formControlName="confirm_password"
                   placeholder="{{ 'Confirm New password' | translate }}"
                   >
            <!-- <label class="embed-text grey-color"
                   translate>Confirm New password</label> -->
            <div class="evento-form-error"
                 *ngIf="passwordForm.controls['confirm_password'].hasError('required') && !passwordForm.controls['confirm_password'].pristine"
                 translate>This field is required
            </div>
            <div class="evento-form-error"
                 *ngIf="passwordForm.controls['confirm_password'].hasError('minlength') && !passwordForm.controls['confirm_password'].pristine"
                 translate> Password most have more than 6 characters
            </div>
            <div class="evento-form-error"
                 *ngIf="passwordForm.controls['new_password'].value !== passwordForm.controls['confirm_password'].value"
                 translate>
                Password doesn't match
            </div>

        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 my-3 d-flex justify-content-end">
        <button type="submit"
                class="btn evento-button evento-button-primary"
                translate
                [disabled]="passwordForm.invalid">Change</button>
    </div>
</form>
