@import '../../../../scss/themes/evento-light/evento-theme-light.scss';

.profile-page {}

.profile-page-header {
    padding-top: 50px;
    background-image: url(/assets/img/crowd-bg-blue.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 400px;
}

.img-profile-picture {
    margin-top: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid theme-color('gray-medium', 'base');
    background: theme-color('background', 'base');
}

@media (min-width: 768px) {
    .profile-page-header {
        padding-top: 100px;
    }
    .img-profile-picture {
        margin-top: -40px;
        width: 80px;
        height: 80px;
    }
}
@media (min-width: 992px) {
    .profile-page-header {
        padding-top: 150px;
    }
    .img-profile-picture {
        margin-top: -50px;
        width: 100px;
        height: 100px;
    }
}
