<div class="row search-event">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-search-event-form [regionList]="regionList"
                                       [eventTypeList]="eventTypeList"
                                       (findButtonClick)="onFindButtonClick($event)"
                                       (seeAllEventsButtonClick)="onSeeAllEventsButtonClick($event)">
                </app-search-event-form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-5">
        <div class="col evento-section-title text-center mt-5">
            <span>RESULTS</span>
        </div>
    </div>
    <div class="row search-event-list py-4"
         *ngIf="searchResultEventList">
        <div class="col col-sm-12 col-md-6 event mb-5 "
             *ngFor="let event of searchResultEventList.data; let i = index">
            <app-event-list-item [event]="event"
                                 [eventIndex]="i"></app-event-list-item>
        </div>
    </div>
    <h3 class="no-result py-3 text-center"
        *ngIf="searchResultEventList && searchResultEventList.data.length===0" translate>No Search Result</h3>

</div>
