<div class="">
    <form>
        <div class="form-group">

            <input type="text"
                   class="form-control evento-form-field"
                   id="contact-first-name"
                   placeholder="First name">
            <small id="first-name-error" class="form-text text-muted"></small>
        </div>
        <div class="form-group">

            <input type="text"
                   class="form-control evento-form-field"
                   id="contact-last-name"
                   placeholder="Last name">
            <small id="last-name-error" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <input type="email"
                   class="form-control evento-form-field"
                   id="contact-email"
                   placeholder="Enter email">
            <small id="email-error" class="form-text text-muted"></small>
        </div>
        <div class="form-group mb-5">
            <input type="text"
                   class="form-control evento-form-field"
                   id="contact-phone"
                   placeholder="Phone Number">
            <small id="phone-error" class="form-text text-muted"></small>
        </div>

        <div class="form-group">
            <input type="text"
                   class="form-control evento-form-field"
                   id="contact-subject"
                   placeholder="Subject">
            <small id="subject-error" class="form-text text-muted"></small>
        </div>

        <div class="form-group">

            <textarea class="form-control evento-form-field"
                      id="contact-message"
                      placeholder="Message"
                      rows="4"></textarea>
            <small id="message-error" class="form-text text-muted"></small>
        </div>

        <div class="col-sm-12 mb-4 text-center">
            <button type="button"
                    class="btn btn-evento-secondary evento-button"
                    (click)="onSearch()"
                    translate>
                Send Message
            </button>
        </div>

        <button type="submit"
                class="btn btn-primary">Submit</button>
    </form>
</div>
