<!-- <div class="">
    <form>
        <div class="form-group">

            <input type="text"
                   class="form-control evento-form-field"
                   id="contact-first-name"
                   placeholder="First name">
            <small id="first-name-error" class="form-text text-muted"></small>
        </div>
        <div class="form-group">

            <input type="text"
                   class="form-control evento-form-field"
                   id="contact-last-name"
                   placeholder="Last name">
            <small id="last-name-error" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <input type="email"
                   class="form-control evento-form-field"
                   id="contact-email"
                   placeholder="Enter email">
            <small id="email-error" class="form-text text-muted"></small>
        </div>
        <div class="form-group mb-5">
            <input type="text"
                   class="form-control evento-form-field"
                   id="contact-phone"
                   placeholder="Phone Number">
            <small id="phone-error" class="form-text text-muted"></small>
        </div>

        <div class="form-group">
            <input type="text"
                   class="form-control evento-form-field"
                   id="contact-subject"
                   placeholder="Subject">
            <small id="subject-error" class="form-text text-muted"></small>
        </div>

        <div class="form-group">

            <textarea class="form-control evento-form-field"
                      id="contact-message"
                      placeholder="Message"
                      rows="4"></textarea>
            <small id="message-error" class="form-text text-muted"></small>
        </div>

        <div class="col-sm-12 mb-4 text-center">
            <button type="button"
                    class="btn btn-evento-secondary evento-button"
                    (click)="onSearch()"
                    translate>
                Send Message
            </button>
        </div>

        <button type="submit"
                class="btn btn-primary">Submit</button>
    </form>
</div> -->

<div>
    <!-- <app-errors [errors]="contactError"
                *ngIf="contactError"></app-errors> -->
    <app-error-message *ngIf="contactError"
                       [serverError]="contactError">
    </app-error-message>

    <form [formGroup]="questionForm"
          (ngSubmit)="sendQuestion(questionForm)">

        <div class="form-group">
            <input formControlName="name"
                   type="text"
                   class="form-control evento-form-field"
                   placeholder="{{ 'Full Name' | translate }}">
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['name'].hasError('required') && !questionForm.controls['name'].pristine"
                 translate>
                This field is required
            </div>
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['name'].hasError('minlength') && !questionForm.controls['name'].pristine"
                 translate>
                Name should be at least 2 characters
            </div>
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['name'].hasError('maxlength') && !questionForm.controls['name'].pristine"
                 translate>
                Name should be at most 20 characters
            </div>

        </div>

        <div class="form-group">
            <input formControlName="email"
                   type="email"
                   class="form-control evento-form-field"
                   placeholder="{{ 'Your Email' | translate }}">
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['email'].hasError('required') && !questionForm.controls['email'].pristine"
                 translate>
                This field is required
            </div>
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['email'].hasError('email') && !questionForm.controls['email'].pristine"
                 translate>
                Email format is not valid
            </div>

        </div>

        <div class="form-group">
            <input formControlName="mobile"
                   type="text"
                   class="form-control evento-form-field"
                   placeholder="{{ 'Phone Number' | translate }}">
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['mobile'].hasError('required') && !questionForm.controls['mobile'].pristine"
                 translate>
                This field is required
            </div>
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['mobile'].hasError('pattern') && !questionForm.controls['mobile'].pristine"
                 translate>
                Mobile number is invalid
            </div>
        </div>
        <div class="form-group">
            <input formControlName="subject"
                   type="text"
                   class="form-control evento-form-field"
                   placeholder="{{ 'Subject' | translate }}">
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['subject'].hasError('required') && !questionForm.controls['subject'].pristine"
                 translate>
                This field is required
            </div>
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['subject'].hasError('minlength') && !questionForm.controls['subject'].pristine"
                 translate>
                Field should be at least 6 characters
            </div>
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['subject'].hasError('maxlength') && !questionForm.controls['subject'].pristine"
                 translate>
                Field should be at most 200 characters
            </div>
        </div>
        <div class="form-group">
            <textarea formControlName="message"
                      rows="4"
                      class="form-control evento-form-field"
                      placeholder="{{ 'Your message' | translate }}"></textarea>
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['message'].hasError('required') && !questionForm.controls['message'].pristine"
                 translate>
                This field is required
            </div>
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['message'].hasError('minlength') && !questionForm.controls['message'].pristine"
                 translate>
                Field should be at least 6 characters
            </div>
            <div class="evento-form-error"
                 *ngIf="questionForm.controls['message'].hasError('maxlength') && !questionForm.controls['message'].pristine"
                 translate>
                Field should be at most 400 characters
            </div>
        </div>
        <div class="form-group">
            <re-captcha #captchaRef
                        formControlName="recaptcha"></re-captcha>

        </div>
        <!-- <div class="row justify-content-center">
            <div class="col-lg-6 col-md-9 col-sm-12 form-group">
                <button type="submit"
                        class="btn btn-info"
                        [disabled]="!questionForm.valid"
                        translate>
                    send
                </button>
            </div>
        </div> -->

        <div class="col-sm-12 mb-4 text-center">
            <button type="submit"
                    class="btn evento-button evento-button-primary"
                    [disabled]="!questionForm.valid"
                    translate>
                Send Message
            </button>
        </div>

    </form>
</div>
