
    <div class="d-flex flex-column invoice-header-content">
        <div class="d-flex justify-content-between">
            <div>GOLDEN CLASS TICKETS</div>
            <div class="status">Delivered</div>
        </div>
        <div>
            <span class="rate">50</span>
            <span class="currency">SAR</span>
        </div>
        <div class="d-flex justify-content-between">
                <div>QTY</div>
                <div class="status">PRICE</div>
                <div class="status">
                    <button class="evento-button-xs evento-button-primary">More</button>
                </div>
            </div>
    </div>

