
    <div class="d-flex flex-column invoice-header-content">
        <div class="d-flex justify-content-between">
            <div>{{invoice.event_name}}</div>
            <div class="status">Delivered</div>
        </div>
        <div>
            <span class="rate">{{ invoice.total_with_vat }}</span>
            <span class="currency">{{ 'SR' | translate }}</span>
        </div>
        <div class="d-flex justify-content-between">
                <div>
                    {{ 'QTY' | translate }}         
                    <button type="button" class="evento-button-xs">{{ invoice.num_ticket }}</button>
                </div>
                <div class="status">
                    {{ 'Price' | translate }}
                    <button type="button" class="evento-button-xs">{{ invoice.total_with_vat }} {{ 'SR' | translate }}</button>
                </div>
                <div class="status">
                    <button class="evento-button-xs evento-button-primary">More</button>
                </div>
            </div>
    </div>

