@import '../../../../../scss/themes/evento-light/evento-theme-light.scss';

.gea-card {
    padding: 10px 10px;
    background-color: theme-color('gray-lightest', 'light');
    border: 1px solid theme-color('gray-lightest', 'base');
    border-radius: 15px;
    
    &:lang(en) {
        margin-right:10px;
    }
    &:lang(ar) {
        margin-left:10px;
    }
    .label {
        font-size: text-scale('xs');
        color: theme-color('gray-medium', 'base');
    }
    .count {
        font-size: text-scale('xl');
    }
    .icon {
        width:28px;
        margin-bottom: 10px;
        vertical-align: baseline;
    }
    .icon-wrapper {
       
        &:lang(en) {
            margin-left: 20px;
        }
        &:lang(ar) {
            margin-right: 20px;
        }
    }
}