<div class="ticket shadow-sm less">
    <div>BASIC TICKETS</div>
    <div class="rate">50 SAR</div>
    <div class="description">In leo erat, blandit at ex id, vulputate luctus velit. Etiam malesuada placerat mi, in viverra purus vehicula vitae. Proin rutrum facilisis lobortis.</div>
    <div class="show-more-less text-center">
        <div>Show More <i class="fas fa-chevron-down" ></i></div>
        <!-- <div>
            <i class="fas fa-chevron-down" ></i>
        </div> -->
    </div>
</div>
