<nav class="navbar navbar-expand-lg navbar-light evento-nav-bar container">
 
  <a class="navbar-brand text-hide" href="#">Evento</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse evento-navbar-collapse"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav evento-navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active" [translate]="'HOME'"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/search" routerLinkActive="active" [translate]="'ABOUT_US'"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [translate]="'CONTACT_US'"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" (click)="handleEnglishClick()">EN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" (click)="handleArabicClick()">AR</a>
      </li>
    </ul>
    <div>
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            Login <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

</nav>
