<div class="d-flex basic-details">
    <div class="when text-center align-self-start p-2">
        <div class="day">6</div>
        <div class="month">DEC</div>
    </div>
    <div class="title flex-grow-1 mx-2">FM EXPO SAUDI - Facilities Management Solutions</div>
</div>

<div class="d-flex flex-column basic-details py-4">
    <div class="price-range align-self-start mb-2">
        550 SAR - 250 SAR
    </div>
    <button type="submit "
            class="btn evento-button-sm evento-button-accent-one align-self-start mb-2 px-4"
            translate>
        VIEW TICKETS
    </button>
</div>
