<div class="d-flex basic-details pb-2">
    <div class="when text-center align-self-start p-2">
        <div class="day">{{startDay}}</div>
        <div class="month">{{startMonth | uppercase}} </div>
    </div>
    <div class="title flex-grow-1 mx-2">{{eventData.details.name}}</div>
</div>

<div class="d-flex flex-column basic-details py-2"
     *ngIf="packageRateRange">
    <div class="price-range align-self-start mb-2 d-flex justify-content-start">
        <div>
            {{packageRateRange.min}}&nbsp;<span translate>SAR</span>
        </div>
        <div>&nbsp;-&nbsp;</div>
        <div>
            {{packageRateRange.max}}&nbsp;<span translate>SAR</span>
        </div>


    </div>
    <button type="submit "
            class="btn evento-button-sm evento-button-accent-one align-self-start mb-2 px-4"
            translate>
        VIEW TICKETS
    </button>
</div>

<!-- *ngIf="userType == 1 && eventData.eligibleToJoin && eventData.details.joining_status == 1" -->
<div class="d-flex flex-column py-2">
    <div *ngIf="!eventStarted">Event will start in</div>
    <app-starts-in-counter *ngIf="!eventStarted"
                           [startDate]="eventData.details.from_date"
                           [startTime]="eventData.details.from_time">
    </app-starts-in-counter>
    <button type="submit "
            class="btn evento-button-sm evento-button-primary align-self-start mb-2 px-4"
            (click)="handleApplyOrganizerClick()"
            *ngIf="eventData.eligibleToJoin && eventData.details.joining_status == 1"
            translate>
        APPLY AS ORGANIZER
        <!-- <i class="fas fa-chevron-right" ></i> -->
    </button>
</div>
