<div class="invoice">
    <div class=""
         id="heading{{ticket}}">
        <a href="#"
           class="invoice-toggle"
           data-toggle="collapse"
           attr.data-target="#collapse{{ticket}}"
           aria-expanded="false"
           attr.aria-controls="collapse{{ticket}}">
            <div class="media invoice-header">
                <img defaultImage
                     class=""
                     [src]="invoice.img"
                     [alt]="">
                <app-invoice-header [invoice]="invoice"
                                    style="width:100%"></app-invoice-header>
            </div>
        </a>

    </div>

    <div id="collapse{{ticket}}"
         class="collapse"
         attr.aria-labelledby="heading{{ticket}}"
         data-parent="#accordion">
        <div class="invoice-body">
            <h6 class="title-underlined mt-2">Order Info</h6>
            <app-order-info [invoice]="invoice"></app-order-info>
            <div *ngIf="ticketResponse && ticketResponse.data && ticketResponse.data.length > 0">
                <h6 class="title-underlined mt-2">Ticket Info</h6>
                <app-ticket *ngFor="let ticket of ticketResponse.data"
                            [ticket]="ticket"></app-ticket>
            </div>
        </div>
    </div>
</div>
