@import '../../../../scss/themes/evento-light/evento-theme-light.scss';

.invoice {
    margin-bottom: 10px;
    a {
        color: theme-color('foreground', 'base');
        text-decoration: none;
    }

}

.invoice-header {
    padding:0;
    background: theme-color('gray-lightest', 'light');
    border: 1px solid theme-color('gray-lightest', 'dark');
    border-radius: 15px 15px 15px 15px;
    img {
        border-radius: 15px 0px 0px 15px;
        width:96px;
        height:95px;
        &:lang(ar) {
            border-radius: 0px 15px 15px 0px;
        }
    }
}



.invoice-body {
    padding: 10px;
    font-size: text-scale('sm');
    border: 1px solid theme-color('gray-lighter', 'base');
    border-top: 1px solid transparent;
    border-radius:0px 0px 15px 15px;
}

.invoice-toggle[aria-expanded="true"] {
    .invoice-header {
        border-radius: 15px 15px 0px 0px;
        img {
            border-radius: 15px 0px 0px 0px;
            &:lang(ar) {
                border-radius: 0px 15px 0px 0px;
            }
        }
    }
    .invoice-body {
        border-radius: 0px 0px 15px 15px ;
    }
}
