<div class="ticket-info">
    <div class="ticket-info-header">
        <a class="d-block "
           data-toggle="collapse"
           href="#collapseExample{{ticket}}"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
            <div class="d-flex justify-content-between ticket-row">
                <div>1</div>
                <div>Noor</div>
                <div>Omrany</div>
                <div class="arrow">
                    <i class="fas fa-chevron-down" ></i>
                </div>
            </div>
        </a>
    </div>
    <div class="collapse ticket-info-body"
         id="collapseExample{{ticket}}">

        <div class="d-flex justify-content-between">
            <div class="">Ticket Bar Code</div>
            <div class="">BARCODE</div>
            <div class="">
                <button class="evento-button-xs evento-button-secondary-outline">
                    Download invoice
                </button>
            </div>
        </div>

    </div>
</div>
