<div class="organization-event-settings">

    <div class="d-flex flex-column">
        <div class="d-flex flex-row py-2">
            <div class="question flex-grow-1">
                <div>Allow requests from organizers</div>
                <div class="explanation evento-text-faded">If you eneable this, you will be able to recieve
                    organizer request.</div>
            </div>
            <div class="answer">
                <div class="form-group position-relative">
                    <select class="form-control evento-form-field evento-select">
                        <option value="0"
                                translate>Disable</option>
                        <option value="0"
                                translate>Enable</option>
                    </select>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row py-2">
            <div class="question flex-grow-1">
                <div>Allow selling tickets online</div>
                <div class="explanation evento-text-faded">If you eneable this, you will be able sell tickets
                    online.</div>
            </div>
            <div class="answer">
                <div class="form-group position-relative">
                    <select class="form-control evento-form-field evento-select">
                        <option value="0"
                                translate>Disable</option>
                        <option value="0"
                                translate>Enable</option>
                    </select>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row py-2">
            <div class="question flex-grow-1">
                <div>Show Event</div>
                <div class="explanation evento-text-faded">If you eneable this, event will be visible to
                    everyone.</div>
            </div>
            <div class="answer">
                <div class="form-group position-relative">
                    <select class="form-control evento-form-field evento-select">
                        <option value="0"
                                translate>Disable</option>
                        <option value="0"
                                translate>Enable</option>
                    </select>
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <button class="apply-button evento-button evento-button-primary">Apply</button>
        </div>


    </div>

</div>
