<!--OR PLAN YOUR EVENTS-->
<div class="row mt-4 mt-md-0">
    <div class="col-sm-12 mb-4">
        <div class="text-center plan-event-title"
             [translate]="'SEARCH'">
            OR PLAN YOUR EVENTS!
        </div>
    </div>
    <div class="col-sm-12 text-center mb-5">
        <img class="img-fluid img-plan-event"
             src="assets/img/plan-your-event.png"
             alt="" />
    </div>
    <div class="col-sm-12 mb-4 text-center">
        <button type="button"
                class="btn btn-outline-secondary evento-button"
                (click)="onSearch()"
                translate>
            Create Your Event
        </button>
    </div>
</div>
<!--/OR PLAN YOUR EVENTS-->
