<div class="row statistics py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <div class="text-center evento-section-title evento-text-faded"
                     [translate]="'SEARCH'">
                    STATISTICS
                </div>
            </div>
            <div class="col-sm-12 text-center evento-text-faded mb-4">
                <div class="d-flex flex-column flex-md-row justify-content-center">
                    <div class="statistic-item text-center mx-5">
                        <img class="mx-2 my-2 icon-statistic-item"
                             src="./assets/img/statistics/tickets-icon-159x139.svg" />
                        <div class="txt-statistic-item tickets">
                            <div class="label-statistic-item">SOLD TICKETS</div>
                            <div class="value-statistic-item">9800</div>
                        </div>
                    </div>

                    <div class="statistic-item text-center mx-5">
                        <img class="mx-2 my-2 icon-statistic-item"
                             src="./assets/img/statistics/events-icon-159x139.svg" />
                        <div class="txt-statistic-item events">
                            <div class="label-statistic-item">EVENTS</div>
                            <div class="value-statistic-item">1300</div>
                        </div>
                    </div>

                    <div class="statistic-item text-center mx-5">
                        <img class="mx-2 my-2 icon-statistic-item"
                             src="./assets/img/statistics/users-icon-159x139.svg" />
                        <div class="txt-statistic-item users">
                            <div class="label-statistic-item">USERS</div>
                            <div class="value-statistic-item">10928</div>
                        </div>
                    </div>

                    <div class="statistic-item text-center mx-5">
                        <img class="mx-2 my-2 icon-statistic-item"
                             src="./assets/img/statistics/organizers-icon-159x139.svg" />
                        <div class="txt-statistic-item organizers">
                            <div class="label-statistic-item">ORGANIZERS</div>
                            <div class="value-statistic-item">1490</div>
                        </div>
                    </div>

                </div>
            </div>

           

        </div>
    </div>
</div>
