<div>
    <ul class="menu">
        <!-- EVENT MENU-->
        <li>
            <a href="javascript:void(0);">
                <img class="icon-event" src="./assets/img/menu/event-icon-27x29.png" />
                <span>Event</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/event-details"
                       routerLinkActive="selected">Event Details</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/event-settings"
                       routerLinkActive="selected">Event Settings</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/event-terms-conditions"
                       routerLinkActive="selected">Terms &amp; Conditions</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/event-supervisors"
                       routerLinkActive="selected">Event Supervisors</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/link-with-gea"
                       routerLinkActive="selected">Link Event With GEA</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/badge-design"
                       routerLinkActive="selected">Event Badge Design</a>
                </li>
            </ul>
        </li>
        <!-- /EVENT MENU-->
        <!--ORGANIZERS-->
        <li>

            <a href="javascript:void(0);">
                <img src="./assets/img/menu/organizer-icon-28x20.png" />
                <span>Organizers</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/interview-questions"
                       routerLinkActive="selected">Interview Questions</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/applications"
                       routerLinkActive="selected">Applications</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/interview-results"
                       routerLinkActive="selected">Interview Results</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/evaluations"
                       routerLinkActive="selected">Evaluations</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/final-evaluations"
                       routerLinkActive="selected">Final Evaluations</a>
                </li>
            </ul>
        </li>
        <!--/ORGANIZERS-->
        <!--TICKETS-->
        <li>
            <a href="javascript:void(0);">
                    <img src="./assets/img/menu/ticket-icon-27x24.png" />
                    <span>Tickets</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/ticket-packages"
                       routerLinkActive="selected">Ticket Packages</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/sales-staff"
                       routerLinkActive="selected">Sales Staff</a>
                </li>
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/sold-tickets"
                       routerLinkActive="selected">Sold Tickets</a>
                </li>

            </ul>
        </li>
        <!--/TICKETS-->
        <!--REPORTS-->
        <li>
            <a href="javascript:void(0);">
                    <img src="./assets/img/menu/report-icon-27x24.png" />
                    <span>Reports</span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:void(0);"
                       routerLink="/dashboard/statistics"
                       routerLinkActive="selected">Statistics</a>
                </li>

            </ul>
        </li>
        <!--/REPORTS-->
    </ul>
</div>
