<div class="ticket">
    <div class="ticket-header">
        <a class="d-block "
           data-toggle="collapse"
           href="#collapseExample{{ticket}}"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
            <div class="d-flex justify-content-between ticket-row">
                <div>{{ 'Ticket' | translate }}  {{ index +1 }}</div>
                <div><span>{{ 'First Name' | translate }}</span><span>{{ ticket.first_name }}</span></div>
                <div><span>{{ 'Last Name' | translate }}</span><span>{{ ticket.last_name }}</span></div>
                <div class="arrow">
                    <i class="fas fa-chevron-down" ></i>
                </div>
            </div>
        </a>
    </div>
    <div class="collapse ticket-body"
         id="collapseExample{{ticket}}">

        <div class="d-flex justify-content-between">
            <div class="">{{ 'TICKET BARCODE' | translate }}</div>
            <div class="">BARCODE</div>
            <div class="">
                <button class="evento-button-xs evento-button-secondary-outline" translate>
                        DOWNLOAD TICKET
                </button>
            </div>
        </div>

    </div>
</div>
