<div class="d-flex justify-content-start">
    <div class="sponsor text-center">
        <img class="mx-2 my-2 icon-sponsor"
             src="./assets/img/partners/Logo1.png" />
        <div>

        </div>
    </div>

    <div class="sponsor text-center">
        <img class="mx-2 my-2 icon-sponsor"
             src="./assets/img/partners/Logo2.png" />
        <div>

        </div>
    </div>

    <div class="sponsor text-center">
        <img class="mx-2 my-2 icon-sponsor"
             src="./assets/img/partners/Logo3.png" />
        <div>

        </div>
    </div>

    <div class="sponsor text-center">
        <img class="mx-2 my-2 icon-sponsor"
             src="./assets/img/partners/Logo1.png" />
        <div>

        </div>
    </div>

</div>
