<div class="organization-event-list-item">
    <div class="organization-event-list-item-header">
        <a class="d-block "
           data-toggle="collapse"
           href="#collapseExample{{eventIndex}}"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample">

            <app-organization-event-list-item-header [event]="event"
                                                     [eventIndex]="eventIndex"></app-organization-event-list-item-header>

        </a>
    </div>
    <div class="collapse" id="collapseExample{{eventIndex}}">
        <app-organization-event-settings></app-organization-event-settings>
    </div>
</div>