@import '../../../../../scss/themes/evento-light/evento-theme-light.scss';
.organization-event-list-item-header {
    a, a:hover {
        text-decoration: none;
        color: theme-color('foreground', 'base');
    }
}

.settings-wrapper {
    margin-top:-15px;
    padding-top: 30px;
    border:1px solid theme-color('gray-lightest', 'base');
    border-radius: 0 0 15px 15px;
}

