<div class="container-fluid">
    <div class="row mb-5">
        <div class="col latest-event-title text-center mt-5">
            <span>LATEST EVENTS</span>
        </div>
    </div>
    <div class="row event-list">
        <div class="col col-sm-12 col-md-6 event mb-5 "
             *ngFor="let event1 of events">
            <app-event-list-item></app-event-list-item>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col text-center">
            <button type="button"
                    class="btn evento-button-xs evento-button-secondary-outline view-all-button"
                    (click)="onSearch()"
                    translate>
                VIEW ALL
            </button>
        </div>
    </div>
</div>
