@import '../../../../scss/themes/evento-light/evento-theme-light.scss';
.latest-event-title {
    @include text-setting('xl');
}
.event-tags {
    

    .tag {
        border-radius: calc(1.0rem + 1px) calc(1.0rem + 1px) 0 0;
        padding: 1px 20px;
        @include text-setting('xs');
        font-weight:lighter;
        margin:0 -2px
    }

    .tag-0 {
        background-color: theme-color('primary', 'base');
        color: theme-color('background', 'base');
    }

    .tag-1 {
        background-color: theme-color('accent-one', 'base');
        color: theme-color('background', 'base');
    }

    .tag-2 {
        background-color: theme-color('accent-two', 'base');
        color: theme-color('background', 'base');
    }
}

.event-item {
    height: 130px;
    border: 1px solid #f2f2f2;
    background: #fdfdfd;
    border-radius: calc(1.125rem + 1px);

    .event-thumb {
        width: 120px;
        height: 100%;
        border-radius: calc(1.125rem + 1px) 0 0 calc(1.125rem + 1px);
    }

    .event-title {
        color: #444444;
    }

    .event-description {
        height: 55px;
        overflow: hidden;
        text-emphasis: none;
        font-size: text-scale('xs');
        color:theme-color('negative', 'light');
        //line-height:line-height('xs');
    }

    .event-location {
        font-size: 0.8rem;
    }

    .see-more-button {
        font-size: text-scale('xxs');
    }
}
