<div class="container">
    <div class="row mb-5">
        <div class="col evento-section-title text-center mt-5">
            <span>LATEST EVENTS</span>
        </div>
    </div>
    <div class="row event-list" *ngIf="latestEventList">
        <div class="col col-sm-12 col-md-6 event mb-5 "
             *ngFor="let event of latestEventList.data; let i = index">
            <app-event-list-item [event]="event" [eventIndex]="i"></app-event-list-item>
        </div>
    </div>

    <h3 class="no-result py-3 text-center"
    *ngIf="latestEventList && latestEventList.data.length===0" translate>No Search Result</h3>

    <div class="row mb-5" *ngIf="latestEventList && latestEventList.data.length>0">
        <div class="col text-center">
            <button type="button"
                    class="btn evento-button-xs evento-button-secondary-outline view-all-button"
                    (click)="onSearch()"
                    translate>
                VIEW ALL
            </button>
        </div>
    </div>
</div>
