@import '../../../../scss/themes/evento-light/evento-theme-light.scss';

.contact-us-page {
    padding-top: 100px;
    background-image: url(/assets/img/crowd-bg-blue.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 400px;
}

.contact-us-form-wrapper {
    //margin: 0 100px;
    background: theme-color('background', 'base');
    border-radius: calc(1.125rem + 1px);
    padding: 20px;
}
@media (min-width: 768px) { 
    .contact-us-form-wrapper {
        margin: 0 50px;
        padding: 40px;
    }
 }

@media (min-width: 992px) { 
    .contact-us-form-wrapper {
        margin: 0 75px;
        padding: 70px;
    }
 }

@media (min-width: 1200px) { 
    .contact-us-form-wrapper {
        margin: 0 100px;
        padding: 140px;
    }
 }

.img-get-in-touch {
    margin-top:-75px;
    width:300px;
}
