<div class="container-fluid contact-us-page">
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-12 py-5 ">
            <div class="container">
                <div class="shadow contact-us-form-wrapper py-5">
                    <div class="text-center mb-2">
                        <img class="img-fluid img-get-in-touch"
                             src="assets/img/contact-us-459x339.png"
                             alt="" />
                    </div>
                    <div class="text-center mb-2">
                        <div class="text-center evento-section-title"
                             translate>
                            Get in touch with us
                        </div>
                        <div class="text-center evento-text-faded mb-2"
                             translate>
                            For enquiries please contact us
                        </div>
                    </div>
                    <app-contact-us-form></app-contact-us-form>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>