<div class="row">
    <div class="col-sm-6 col-md-6 label-value">
        <span class="label">{{ 'Ticket' | translate }}</span>
        <span class="value">{{ buyTicketForm.get('first_name').value }} {{ buyTicketForm.get('last_name').value }}</span>
    </div>
    <div class="col-sm-6 col-md-6 label-value">
        <span class="label">{{ 'Phone Number' | translate }}</span>
        <span class="value" style="direction: ltr">{{ buyTicketForm.get('mobile').value}}</span>
    </div>

    <div class="col-sm-12 col-md-12 label-value">
        <span class="label">{{ 'Email' | translate }}</span>
        <span class="value">{{ buyTicketForm.get('email').value }}</span>
    </div>

    <div class="col-sm-12 col-md-12 label-value">
        <span class="label">{{ 'Ticket' | translate }}</span>
        <span class="value">abcd</span>
    </div>

    <div class="col-sm-6 col-md-6 label-value">
        <span class="label">{{ 'QTY' | translate }}</span>
        <span class="value">{{ buyTicketForm.get('num_ticket').value }}</span>
    </div>
    <div class="col-sm-6 col-md-6 label-value">
        <span class="label">{{ 'Date' | translate }}</span>
        <span class="value">{{ buyTicketForm.get('access_date').value.formatted }}</span>
    </div>
</div>
