@import '../../../../scss/themes/evento-light/evento-theme-light.scss';

.label-value {
    padding-top:10px;
    padding-bottom:10px;
}
.label {
    color:theme-color('gray-medium', 'base');
    &::after {
        content: ': ';
    }
}

.ticket-row {
    background: theme-color('gray-lightest', 'base');
    border-radius: 15px 15px 15px 15px;
    padding: 10px 20px;
    .arrow {
        border: 1px solid theme-color('gray-lighter', 'dark');
        border-radius: 50%;
        width: 20px;
        height: 20px;
        
        text-align: center;
    }
}