<div class="row who-we-are">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col-sm-12 text-center mb-2">
                    <img class="img-fluid img-who-we-are"
                         src="assets/img/who-we-are.png"
                         alt="" />
                </div>
                <div class="col-sm-12 text-center mb-2">
                    <div class="text-center plan-event-title"
                         [translate]="'SEARCH'">
                        WHO ARE WE?
                    </div>
                </div>
                <div class="col-sm-12 text-center evento-text-faded mb-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam tortor, laoreet quis commodo non, fringilla nec nisi. Sed quis feugiat felis. Ut facilisis leo velit, et venenatis sapien dictum vitae. Mauris aliquam, ipsum a cursus vulputate, mauris lorem euismod lacus, at bibendum nulla leo sit amet neque. Pellentesque rutrum ultricies lacinia. Cras erat felis, tincidunt eu diam at, condimentum dictum massa. Nam laoreet at mi rutrum pretium. In at urna condimentum, vehicula nibh sit amet, ultrices sapien. Quisque ut pharetra dolor. Sed aliquet faucibus erat, et dignissim odio imperdiet sed. Pellentesque volutpat porttitor neque ut tristique. </p>
                </div>
            </div>
        </div>
    </div>
</div>
