<div class="container-fluid">
    <div class="row search-event-component">
        <!-- SEARCH EVENT COLUMN-->
        <div class="col-sm-12 col-md-7 search-event ">

            <!--SEARCH CHOOSE BOOKE AND ENJOY TEXT-->
            <div class="row search-event-title mx-md-2">
                <div class="col-sm-12 text-center">
                    <span class="search" [translate]="'SEARCH'">SEARCH</span><span class="search">,&nbsp;</span>
                    <span class="choose" [translate]="'CHOOSE'">CHOOSE</span><span class="choose">,&nbsp;</span>
                    <span class="book" [translate]="'BOOK'">BOOK</span><span>&nbsp;</span>
                    <span [translate]="'AND_ENJOY'">AND ENJOY</span>
                </div>
            </div>
            <!--/SEARCH CHOOSE BOOKE AND ENJOY TEXT-->

            <!--SEARCH FORM-->
            <div class="row search-form mx-sm-1 mx-md-5 mx-lg-3 mx-xl-4">
                <div class="col-sm-12 col-md-12 col-lg-4 mb-2">
                    <div class="form-group">
                        <input type="text"
                               class="form-control evento-input"
                               placeholder="Event Name"
                                />
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4 mb-2">
                    <div class="form-group position-relative">
                        <select class="form-control evento-input evento_select"
                                >
                            <option value=""
                                    translate>Choose City</option>
                            <ng-container *ngIf="region">
                                <option *ngFor="let region of region.data"
                                        [value]="region.region_id">
                                    {{ region.name }}
                                </option>
                            </ng-container>
                        </select>
                        <i class="fas fa-chevron-down embed"></i>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4 mb-2">
                    <div class="form-group position-relative">
                        <select class="form-control evento-input evento_select"
                                >
                            <option value=""
                                    translate>Choose Event Type</option>
                            <ng-container *ngIf="eventTypes">
                                <option *ngFor="let type of eventTypes.data"
                                        [value]="type.id">
                                    {{ type.name }}
                                </option>
                            </ng-container>
                        </select>
                        <i class="fas fa-chevron-down embed"></i>
                    </div>
                </div>
            </div>
            <!--/SEARCH FORM-->

            <!--FIND, SEE ALL BUTTONS-->
            <div class="d-flex flex-column flex-md-row justify-content-center mx-md-2">
                <div class="mb-4 mx-2 text-center">
                    <button type="button"
                            class="btn evento-button evento-button-secondary"
                            (click)="onSearch()"
                            translate>
                        Find
                    </button>
                </div>
                <div class="mb-4 mx-2 text-center">
                    <button type="button"
                            class="btn evento-button evento-button-primary"
                            (click)="onSearch()"
                            translate>
                        See All Events
                    </button>
                </div>
            </div>
            <!--/FIND, SEE ALL BUTTONS-->

        </div>
        <!-- /SEARCH EVENT COLUMN-->

        <!-- PLAN EVENT COLUMN-->
        <div class="col-sm-12 col-md-5 plan-event">
            <!--OR PLAN YOUR EVENTS-->
            <div class="row mt-4 mt-md-0">
                <div class="col-sm-12 mb-4">
                    <div class="text-center plan-event-title"
                         [translate]="'SEARCH'">
                        OR PLAN YOUR EVENTS!
                    </div>
                </div>
                <div class="col-sm-12 text-center mb-5">
                    <img class="img-fluid img-plan-event" src="assets/img/plan-your-event.png" alt="" />
                </div>
                    <div class="col-sm-12 mb-4 text-center">
                        <button type="button"
                                class="btn btn-outline-secondary evento-button"
                                (click)="onSearch()"
                                translate>
                            Create Your Event
                        </button>
                    </div>
                </div>
                <!--/OR PLAN YOUR EVENTS-->

            </div>
            <!-- /PLAN EVENT COLUMN-->
        </div>
    </div>
