<div class="row join-us">
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md-4 text-center mb-4 px-4">
                <img class="img-fluid img-join-us"
                     src="assets/img/who-we-are.png"
                     alt="" />
                <div class="text-center evento-text-faded ">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam tortor, laoreet quis commodo non, fringilla nec nisi. Sed quis feugiat felis.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 text-center mb-4 px-4">
                <img class="img-fluid img-join-us"
                     src="assets/img/who-we-are.png"
                     alt="" />
                <div class="text-center evento-text-faded ">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam tortor, laoreet quis commodo non, fringilla nec nisi. Sed quis feugiat felis.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 text-center mb-4 px-4">
                <img class="img-fluid img-join-us"
                     src="assets/img/who-we-are.png"
                     alt="" />
                <div class="text-center evento-text-faded ">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam tortor, laoreet quis commodo non, fringilla nec nisi. Sed quis feugiat felis.</p>
                </div>
            </div>
            <div class="col-sm-12 mb-4 text-center">
                <button type="button"
                        class="btn btn-outline-secondary evento-button"
                        (click)="onSearch()"
                        translate>
                    Join
                </button>
            </div>

        </div>
    </div>
</div>
