<div class="container">
    <div class="row">
        <div class="col-sm-12 d-flex flex-column flex-md-row">
            <div class="d-flex flex-row flex-md-column justify-content-center">
                <div class="">
                    <a class="select-ticket d-block buy-ticket-pill text-center pristine"
                       href="javascript:void(0);" (click)="handlePillClick(1)" 
                       [ngClass]="{'active': currentStep === 1, 'completed': currentStep > 1}">
                       <div class="icon mx-auto"></div>
                        <div class="title">Step 1</div>
                        <div class="sub-title">Pick Tickets</div>
                    </a>
                </div>
                <div>
                    <a class="personal-info d-block buy-ticket-pill text-center"
                       href="javascript:void(0);" (click)="handlePillClick(2)"
                       [ngClass]="{'active': currentStep === 2, 'completed': currentStep > 2}">
                       <div class="icon mx-auto"></div>
                       <div class="title">Step 1</div>
                       <div class="sub-title">Your Info</div>
                    </a>
                </div>
                <div>
                    <a class="payment-info d-block buy-ticket-pill text-center"
                       href="javascript:void(0);" (click)="handlePillClick(3)"
                       [ngClass]="{'active': currentStep === 3, 'completed': currentStep > 3}">
                       <div class="icon mx-auto"></div>
                       <div class="title">Step 1</div>
                       <div class="sub-title">Payment</div>
                    </a>
                </div>
                <div>
                    <a class="confirmation d-block buy-ticket-pill text-center"
                       href="javascript:void(0);" (click)="handlePillClick(4)"
                       [ngClass]="{'active': currentStep === 4, 'completed': currentStep === 4}">
                       <div class="icon mx-auto"></div>
                       <div class="title">Step 1</div>
                       <div class="sub-title">Confirm</div>
                    </a>
                </div>
            </div>
            <div class="flex-grow-1" [ngSwitch]="currentStep" >
                <div  *ngSwitchCase="1" >
                    <app-select-ticket [buyTicketForm]="buyTicketForm"></app-select-ticket>
                </div>
                <div *ngSwitchCase="2">
                    <app-personal-info [buyTicketForm]="buyTicketForm"></app-personal-info>
                </div>
                <div *ngSwitchCase="3">
                    <app-payment-info></app-payment-info>
                </div>
                <div *ngSwitchCase="4">
                    <app-confirmation></app-confirmation>
                </div>
            </div>
        </div>
    </div>
</div>
