@import '../../../../scss/themes/evento-light/evento-theme-light.scss';
.search-event-title {
    @include text-setting('xl');
    margin-bottom: 70px;

    .search {
        color: theme-color('accent-two', 'base');
    }

    .choose {
        color: theme-color('accent-one', 'base');
    }

    .book {
        color: theme-color('primary', 'base');
    }
}

.search-form {
    margin-bottom: 40px;
}

.button-row {
    margin: 0 auto;
}
