            <!--SEARCH CHOOSE BOOKE AND ENJOY TEXT-->
            <div class="row search-event-title mx-md-2">
                <div class="col-sm-12 text-center">
                    <span class="search" [translate]="'SEARCH'">SEARCH</span><span class="search">,&nbsp;</span>
                    <span class="choose" [translate]="'CHOOSE'">CHOOSE</span><span class="choose">,&nbsp;</span>
                    <span class="book" [translate]="'BOOK'">BOOK</span><span>&nbsp;</span>
                    <span [translate]="'AND_ENJOY'">AND ENJOY</span>
                </div>
            </div>
            <!--/SEARCH CHOOSE BOOKE AND ENJOY TEXT-->

            <!--SEARCH FORM-->
            <div class="row search-form mx-sm-1 mx-md-5 mx-lg-3 mx-xl-4">
                <div class="col-sm-12 col-md-12 col-lg-4 mb-2">
                    <div class="form-group">
                        <input type="text"
                               [(ngModel)]="searchEventFormDataService.name"
                               class="form-control evento-form-field"
                               placeholder="Event Name" />
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4 mb-2">
                    <div class="form-group position-relative">
                        <select class="form-control evento-form-field evento-select"
                                [(ngModel)]="searchEventFormDataService.region">
                            <option value="0"
                                    translate>Choose City</option>
                            <ng-container *ngIf="regionList">
                                <option *ngFor="let region of regionList.data"
                                        [value]="region.region_id">
                                    {{ region.name }}
                                </option>
                            </ng-container>
                        </select>
                        <i class="fas fa-chevron-down" ></i>
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-4 mb-2">
                    <div class="form-group position-relative">
                        <select class="form-control evento-form-field evento-select"
                                [(ngModel)]="searchEventFormDataService.type">
                            <option value="0"
                                    translate>Choose Event Type</option>
                            <ng-container *ngIf="eventTypeList">
                                <option *ngFor="let type of eventTypeList.data"
                                        [value]="type.id">
                                    {{ type.name }}
                                </option>
                            </ng-container>
                        </select>
                        <i class="fas fa-chevron-down embed"></i>
                    </div>
                </div>
            </div>
            <!--/SEARCH FORM-->

            <!--FIND, SEE ALL BUTTONS-->
            <div class="d-flex flex-column flex-md-row justify-content-center mx-md-2">
                <div class="mb-4 mx-2 text-center">
                    <button type="button"
                            class="btn evento-button evento-button-secondary"
                            (click)="handleFindButtonClick()"
                            translate>
                        Find
                    </button>
                </div>
                <div class="mb-4 mx-2 text-center">
                    <button type="button"
                            class="btn evento-button evento-button-primary"
                            (click)="handleSeeAllEventsButtonClick()"
                            translate>
                        See All Events
                    </button>
                </div>
            </div>
            <!--/FIND, SEE ALL BUTTONS-->
