<div class="container-fluid footer py-4">
    <div class="container subscribe">
        <div class="row mb-4">
            <div class="col-sm-12 col-md-6 ">
                <div class="subscribe-title mb-2">SUBSCRIBE TO BE IN TOUCH WITH LATEST EVENT!</div>
                <div class="d-flex justify-content-between">
                    <div class="subscribe-email">
                        <input type="text"
                               class="form-control evento-input"
                               placeholder="example@mail.com" />
                    </div>

                    <div class="mx-2">
                        <button type="button"
                                class="btn evento-button evento-button-primary"
                                (click)="onSearch()">
                            Subscribe
                        </button>
                    </div>


                </div>
            </div>
            <div class="col-sm-12 col-md-6 text-center">
                <div class="subscribe-title mb-2">FOLLOW US ON</div>
                <div class="d-flex justify-content-center">
                    <img class="mx-1"
                         src="./assets/img/footer/youtube-icon-white-24x16.svg"
                         width="25px"
                         height="25px" />
                    <img class="mx-1"
                         src="./assets/img/footer/twitter-icon-white-24x19.svg"
                         width="25px"
                         height="25px" />
                    <img class="mx-1"
                         src="./assets/img/footer/snapchat-icon-white-24x22.svg"
                         width="25px"
                         height="25px" />
                    <img class="mx-1"
                         src="./assets/img/footer/instagram-icon-white-24x24.svg"
                         width="25px"
                         height="25px" />
                    <img class="mx-1"
                         src="./assets/img/footer/facebook-icon-white-12x23.svg"
                         width="25px"
                         height="25px" />
                </div>

            </div>
        </div>
    </div>


    <div class="row py-5 links">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 ">
                    <ul class="link-list">
                        <li>
                            <a href="#">SITE MAP</a>
                        </li>
                        <li>
                            <a href="#">ABOUT EVENTO</a>
                        </li>
                        <li>
                            <a href="#">CONTACT US</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 ">
                    <ul class="link-list">
                        <li>
                            <a href="#">Q & A</a>
                        </li>
                        <li>
                            <a href="#">PRIVACY POLICY</a>
                        </li>
                        <li>
                            <a href="#">TERMS AND CONDITIONS</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 ">
                    <div class="subscribe-title mb-2">PAY SFELY USING</div>
                    <div class="d-flex justify-content-start">
                        <img class="mx-1"
                             src="./assets/img/partners/Logo1.png"
                             width="25px"
                             height="25px" />
                        <img class="mx-1"
                             src="./assets/img/partners/Logo2.png"
                             width="25px"
                             height="25px" />
                        <img class="mx-1"
                             src="./assets/img/partners/Logo3.png"
                             width="25px"
                             height="25px" />
                        <img class="mx-1"
                             src="./assets/img/partners/Logo4.png"
                             width="25px"
                             height="25px" />
                        <img class="mx-1"
                             src="./assets/img/partners/Logo5.png"
                             width="25px"
                             height="25px" />
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-12 text-center">
            <div class="subscribe-title">COPYRIGHT &copy; 2018 EVENTO. ALL RIGHTS RESERVED</div>
        </div>
    </div>

</div>
