<div class="event-tags d-flex flex-row-reverse mx-2 px-4"
     *ngIf="event && eventIndex >=0">
    <div class="tag py-1"
         [ngClass]="tagClasses[eventIndex % 3][0]">{{event.type}}</div>
</div>
<div class="media event-item shadow-sm"
     *ngIf="event">
        <img defaultImage
             class="event-thumb"
             [src]="event.img"
             [alt]="'Evento'">


    <div class="media-body px-3 py-2">
        <h5 class="mt-1 event-title">{{event.name}}</h5>
        <div class="event-description">
            {{event.details}}
        </div>
        <div class="event-location text-small mt-2">
            <div class="d-flex justify-content-between">

                <div class="">
                    <span>&copy;&nbsp;</span>
                    <span>{{event.city}}</span>
                </div>

                <button type="button"
                        class="btn see-more-button evento-button-xs evento-button-secondary"
                        [routerLink]="['/event', event.event_id]">
                    See More
                </button>


            </div>

        </div>
    </div>
</div>
<div class="when d-flex flex-row mx-3 evento-text-faded"
     *ngIf="event">
    <div class="">{{event.from_date}} | {{event.from_time}}</div>
</div>
