<div class="event-tags d-flex flex-row-reverse mx-2 px-4">
    <div class="tag py-1" [ngClass]="tagClasses[eventIndex][0]">{{eventItem.type}}</div>
</div>
<div class="media event-item shadow-sm">
    <img class="event-thumb"
         src="{{eventItem.img}}"
         alt="Generic placeholder image">
    <div class="media-body px-3 py-2">
        <h5 class="mt-1 event-title">{{eventItem.name}}</h5>
        <div class="event-description">
            {{eventItem.details}}
        </div>
        <div class="event-location text-small mt-2">
            <div class="d-flex justify-content-between">

                <div class="">
                    <span>&copy;&nbsp;</span>
                    <span>{{eventItem.city}}</span>
                </div>

                <button type="button"
                        class="btn see-more-button evento-button-xs evento-button-secondary">
                    See More
                </button>


            </div>

        </div>
    </div>
</div>
<div class="when d-flex flex-row mx-3 evento-text-faded">
    <div class="">{{eventItem.from_date}} | {{eventItem.from_time}}</div>
</div>
